


<div class="visitors-index">
  <div class="container">
    <div class="row">
      <div class="admin-header text-center">
        <h1>Visitors</h1>
      </div>
      <div class="col-sm-8 visitors-table ">
        <table class=" text-center table" >
          <thead class="text-center" >
            <tr>
              <th class="text-center">Timeline</th>
              <th class="text-center">Visitors</th>            
            </tr>
          </thead>

          <tbody >
            <% @timeline.each do |timeline| %>
              <tr>
                <td><%= timeline.name %></td>
                <td><%= timeline.hover_no %></td>                
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
      </div>
      <div class="col-sm-4 visitors-table ">
        <table class=" text-center table" >
          <thead class="text-center" >
            <tr>             
              <th class="text-center">Most Visited</th>             
            </tr>
          </thead>

          <tbody >
            <% @tline.each do |tline| %>
              <tr>
                <td><%= tline.name %>(<%= tline.hover_no %>)</td>                
              </tr>
            <% end %>
          </tbody>
        </table>

        <br>
      </div>
    </div>
  </div>

</div>

