
<div class="jumbotron timeline-index">
  <div class="container">
    <div class="row">
      <div class=" text-center timeline" id="divs"> 

        <div class="col-md-3 jumbotron timeline-div timeline-box1" id="First">
          <p class ="output"></p>
        </div>
        <div class="col-md-3 jumbotron timeline-div timeline-box2" id="Second">
          <p class ="output"></p>
        </div>
        <div class="col-md-3 jumbotron timeline-div timeline-box3" id="Third">
          <p class ="output"></p>
        </div>
        <div class="col-md-3 jumbotron timeline-div timeline-box4" id="Fourth">
          <p class ="output"></p>
        </div>  

      </div>
    </div>
    
    <p id="outputcount"></p>    
  </div>
</div>