.timeline {
 overflow:auto;
 cursor:default;
}

.timeline .timeline-div {
  display: block;
  border: 1px solid;
  min-height: 250px;
}
.timeline .timeline-div p {
  display: none;
  
}

.timeline .timeline-box1:hover{
  background: image-url('timeline1.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}
.timeline .timeline-box1:hover p{
  display: block;
  margin-top: -47px;
  color: #fff;
}

.timeline .timeline-box2:hover{
  background: image-url('timeline2.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.timeline .timeline-box2:hover p{
  display: block;
  margin-top: -47px;
  color: #fff;
}

.timeline .timeline-box3:hover{
  background: image-url('timeline3.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.timeline .timeline-box3:hover p{
  display: block;
  margin-top: -47px;
  color: #fff;
}

.timeline .timeline-box4:hover{
  background: image-url('timeline4.jpg');
  background-size: cover; 
  background-position: center;
  background-repeat: no-repeat;
}

.timeline .timeline-box4:hover p{
  display: block;
  margin-top: -47px;
  color: #fff;
}










.visitors-table{
  padding-left: 0;
  padding-right: 0;
}
